<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Books</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link href="assets/css/style.css" rel="stylesheet" />

</head>

<body>
  <header>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
          <h1>BUILDING BRIDGES</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus eum dignissimos ipsa sequi expedita.
          </p>
        </div>
      </div>
    </div>
  </header>
  <main>
    
    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
          <h1>What are the problem that we are trying to tackle?</h1>
          <p>
            We are trying to create an inclusive and safe space for the communities that have long been deprived of quality education.
            Following are the numbers of Women, Rural people and Disabled people who do not have access to proper technical education.
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <h1>13500</h1>
            <p>Villages in India with No school</p>
          </div>
          <div class="rect">
            <h1>45</h1>
            <p>Percentage of women dropping out of stem</p>
          </div>
          <div class="rect">
            <h1>75</h1>
            <p>% of Disabled Kids never attending a School</p>
          </div>
          <div class="rect">
            <h1>129</h1>
            <p>No of Girls(In Million) out of School</p>
          </div>
        </div>
      </div>


      <div class="purchase text-center">
        <h1></h1>
        <p>
          If you belong to a minor or underpriviledged section of the society, we have something for you. Register yourself based on your needs, and get connected with a mentor who can change your life!
        </p>
        <div class="cards">
          <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Woman</h5>
                </div>
                <p class="card-text">
                  With supporting text below as a natural lead-in.
                </p>
                <div class="pricing">
                  <a href="/blog" class="btn btn-dark px-5 py-2 primary-btn mb-5">Register Here</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Rural</h5>
                </div>
                <p class="card-text">
                  With supporting text below as a natural lead-in.
                </p>
                <div class="pricing">
                  <a href="/blog" class="btn btn-dark px-5 py-2 primary-btn mb-5">Register Here</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Disabled</h5>
                </div>
                <p class="card-text">
                  With supporting text below as a natural lead-in.
                </p>
                <div class="pricing">
                  <a href="/blog" class="btn btn-dark px-5 py-2 primary-btn mb-5">Register Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  </main>
  <footer>
    <div class="col-md-5 col-sm-12">
      <h4 class="text-light">Newsletter</h4>
      <p class="text-muted">Stay Updated</p>
      <form class="form-inline">
        <div class="col pl-0">
          <div class="input-group pr-5">
            <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./main.js"></script>
</body>

</html>